body {
  background-color: #282a2b;
}
#site-main{ 
  background-color: #f0f1f2;
}

#site-intro h1 {
  color: #FFFFFF;
}

#site-intro {
  color: #CCCCCC;
}

#site-main h2 {
  color: #282a2b;
}

#site-main {
  color: #282a2b;
}

#recent-posts h1 {
  color: #FFFFFF;
}

#categories h1 {
  color: #FFFFFF;
}

#categories {
  padding: 5px 15px;
  color: #FFFFFF;
}

.mini-post h2{
  color: #FFFFFF;
}

.mini-post {
  background: #282a2b;
  border: #282a2b;
  color: #CCCCCC;
  margin-bottom: -2em;
}

#copyright p{
  color: #CCCCCC;
}

.pagination .button {
  background-color: #0062ad;
  color: #CCCCCC ;
}

.button:hover:active {
  background-color: #282a2b;
}

input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover, .button:hover {
  border: solid 1px #CCCCCC;
  color: #0062ad!important;
  background-color: #CCCCCC;
}

a.button, input.button  {
  background-color: #0062ad;
  color: #CCCCCC ;
}

a:hover {
    border-bottom-color: transparent;
    color: #0062ad;
}

li.tags, li.categories {
  color: #8989e0;
}

a.image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
}

.post a.image img {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.mini-post section .image:hover img {
  -moz-transform: scale(1.00);
  -webkit-transform: scale(1.00);
  -ms-transform: scale(1.00);
  transform: scale(1.00); 
}

.post a.image:hover img {
  -webkit-transform: scale(1.00);
  -moz-transform: scale(1.00);
  -ms-transform: scale(1.00);
  -o-transform: scale(1.00);
  transform: scale(1.00); 
}

.post a.image {
  border: 0;
  display: block;
  margin: 1em -1em;
  overflow: hidden; 
}

.post>header p {
  display: none;
}

@media (min-width: 768px) {
  .post>header div {
    padding: 0em 2em !important;
  }

  .post>header .meta {
    border-left: solid 1px rgba(160,160,160,.3);
    text-align: right;
    width: 30%;
  }
}

::-moz-selection {
  background: rgb(0, 98, 173, 0.5);

  text-shadow: none; }

::selection {
  background: rgb(0, 98, 173, 0.5);
  text-shadow: none; }

